

.m-circle-container {
  width: 30%;
  height: 20em;
  margin: 0 auto;
}

.circle {
  border-radius: 50%;
  width: 20em;
  height: 20em;
  border: 15px solid #c6c6c6;
  margin: 0 auto;
}

.m-total-job-container {
  padding-top: 5em;
 text-align: center;
}


