
.m-top-circle-contain {
  @include span-columns(5);
  @include shift( 4.4 );
 }

.m-job-circle {
  @include position( relative, 0px 0 0 0px );
  width: 63%;
  padding-bottom: 55%;
  border: 13px solid tomato;
  border-radius: 50%;
  margin: 2em 0px 2em 0px;
}

.m-job-list-head {
  @include position( absolute, 5em 0 0 0 );
  text-align: center;
  font-family: $base-font;
  margin-bottom: 0.2em;
h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  }
h5 {
  font-size: 2em;
 }
}

.m-logout {
  float: right;
}


